.community-wrap {
	position: relative;

	.situation-report {
		height: 330rpx;
		width: 100%;
	}

	.chats-wrap {
		padding-top: 60rpx;
		margin-bottom: 300rpx;

		.chat-wrap {
			position: relative;

			.chat {
				margin-left: 24rpx;
				padding: 15rpx 0 15rpx 24rpx;
				border-left: 4rpx solid rgba(103, 167, 143, 0.7);
			}

			.left-circle-icon {
				position: absolute;
				height: 24rpx;
				top: 20rpx;
				left: 15rpx;
				width: 24rpx;
			}
		}

	}


}

.community-return-top-wrap {
	position: fixed;
	box-sizing: border-box;
	left: 668rpx;
	top: 1348rpx;
	width: 58rpx;
	height: 54rpx;
	line-height: 40rpx;
	border-radius: 8rpx;
	background-color: rgba(140, 140, 140, 1);
	text-align: center;
	border: 2rpx solid rgba(140, 140, 140, 1);

	.image {
		position: absolute;
		top: 8rpx;
		left: 10rpx;
		width: 34rpx;
		height: 34rpx;
	}
}

.community-add-icon {
	position: fixed;
	width: 100rpx;
	height: 100rpx;

}